<div class= "card-mealtype">
  <div class="card-mealtype__header">
   <h3><%= @meal_type.capitalize %></h3>
    <%= link_to planners_path(  meal_ids: [@meal_ids]),
                                data: { turbo_frame: "_top" } do %>
      <i class="btn--edit fa-solid fa-pen-to-square"></i>
    <% end %>
    <%= link_to menus_path do %>
      <i class="btn--stop fa-regular fa-circle-xmark"></i>
    <% end %>
  </div>
  <div class="section--cards-meals">
    <div class="card-rolodex--hs full rolodex-meals ">
      <%= render @meals %>
    </div>
  </div>
</div>
