<div class="container">
  <h1>Menu New page</h1>
  <h3>Grocery product search</h3>

<div class="container text-center"
     data-controller="products-search">
  <form id="search-form" class="row">
    <div class="col-10" >
      <input data-products-search-target="searchInput" id="search-input" type="text" class="form-control" placeholder="Searh for Products">
      </div>
      <div class="col-2">
        <button type="button" class="btn btn-primary" data-action="products-search#submitSearch">product Search</button>
      </div>
    </form>

<ul data-products-search-target="results" id="results" class="list-inline"></ul>

</div>
</div>
