<h1>Menu Show page</h1>

<div class="container">

  <ul>
    <% @menu.meals.all.each do |meal| %>
      <li><%= meal.name %>  </li>
      <li> <%= meal.user.name_first %> </li>
    <% end %>
  </ul>




</div>
