<%- title "Menu show Meal" %>

<div class="body">
  <div class="section-header">
    <h1>Meal Type show page: <%= @meal_type.capitalize %></h1>
  </div>
  <div class="card-menu__body">
    <%= turbo_frame_tag "menu_#{@menu.id}_#{@meal_type}" do %>
      <%= render '/menus/meal_type' %>
    <% end %>
  </div>
</div>
