<% if @next_page[:links].nil? %>
  <% href = "" %>
  <% count = "" %>
  <% total = "" %>
<% else %>
  <% href = @next_page[:links][:href] %>
  <% count = @next_page[:count] %>
  <% total = @next_page[:total] %>
<% end %>

<% yield(:title).blank? ? title = title : title = yield(:title) %>
<div id="load_more" >






  <div data-course-new-form-target="newRecipes"></div>
</div>
