<% if @next_page[:links].nil? %>
  <% href = "" %>
  <% count = "" %>
  <% total = "" %>
<% else %>
  <% href = @next_page[:links][:href] %>
  <% count = @next_page[:count] %>
  <% total = @next_page[:total] %>
<% end %>

<% yield(:title).blank? ? title = title : title = yield(:title) %>
<div id="load_more" >

    <div class="load_recipes ">
      <%= link_to "Next Page", fetch_recipe_search_path(total, href: href, count: count, title: title),
            class: "btn btn--dark btn--go",
            data: { turbo_method: :post,
                    target: 'infinite-scroll.pagination' }   %>
    </div>

  <div data-course-new-form-target="newRecipes"></div>
</div>
