<%= turbo_frame_tag "recipes", class: "section-cards",
    data: {
      controller: "infinite-scroll",
      action: "scroll@window->infinite-scroll#scroll"
      
    }, target: "_top" do %>
  <div id="recipe_cards" class="card-rolodex">
    <%= render recipes, locals: { title: yield(:title) } %>
  </div>
  <%= render partial: "/recipes/load_more", locals: { title: @title } %>
  <div id="gList"></div>
<% end %>
