<div class="recipe">
  <div class="recipe-card">
    <div class="card-header">
    </div>
    <div class="card-body">
      <p>Name:<%= recipe.label %></p>
      <p>Source:<%= recipe.source %></p>
      <p>Servings:<%= recipe.yield %></p>
    </div>
    <div class="card-footer">

    </div>
  </div>
</div>
