<%= turbo_frame_tag "recipes", class: "section--cards section--cards-recipes",
    target: "_top" do %>
  <div id="recipe_cards" class="card-rolodex">
    <%= render recipes, locals: { title: yield(:title) } %>
  </div>

  <%= turbo_frame_tag "fetch-recipes",
    src: fetch_recipes_path(href: @next_page[:links][:href],
                              title: yield(:title),
                              count: @next_page[:count],
                              total: @next_page[:total],
                              format: :turbo_stream),
    loading: :lazy do %>
    Fetching more recipes .... ... .. .
  <% end %>
  <div id="apply_course" data-course-new-form-target="newRecipes"></div>
  <div id="gList"></div>
<% end %>
