<%- title "Recipes" %>

<div class="container"
     id="<%= yield(:title) %>"
     data-course-type="<%= @course_type %>"
     data-controller="course-type-radio-selector"
     data-course-type-radio-selector-target="setter">
  <div class="header">
    <%= render 'shared/searchbar' %>
  </div>
  <div class="section-cards">
    <%= render "recipes", recipes: @recipes, locals: { title: yield(:title) } %>
  </div>
</div>
