<%- title "Recipes" %>
<div class="container">
<h1>Recipe Index page</h1>
<small><h4>Title page: <%= yield(:title) %></h4></small>
<%= render 'search_bar', path: "/recipes" %>
<br>
<%= render "recipes", recipes: @recipes, locals: { title: yield(:title) } %>
</div>
