<%- title "Recipes" %>
<div class="section-recipe"
      id="<%= yield(:title) %>"
      data-controller="recipe-search-filter"
>
  <%= render 'shared/searchbar' %>
  <%= render 'shared/sidebar' %>
  <div class="section-cards">
    <%= render "recipes", recipes: @recipes, locals: { title: yield(:title) } %>
  </div>
</div>
