<%- title "Recipes" %>
<div class="section-recipe">

  <%= render 'shared/searchbar' %>
  <%= render 'shared/sidebar' %>
  <div class="section-cards">
    <%= render "recipes", recipes: @recipes, locals: { title: yield(:title) } %>
  </div>
</div>
