<%= turbo_frame_tag "recipes",
    data: {
      controller: "infinite-scroll",
      action: "scroll@window->infinite-scroll#scroll"
    }, target: "_top" do %>
  <div class="card-deck">
    <%= render @recipes, locals: { title: @title }  %>
  </div>
   <%= render partial: "/recipes/load_more", locals: { title: @title } %>
<% end %>
