<dialog id="turbo-confirm">
  <form method="dialog">
    <p>Are you certain?</p>
    <div>
      <button value="cancel">Cancel</button>
      <button value="confirm">Confirmm</button>
    </div>
  </form>
</dialog>
