<div class="card-modal" data-controller="turbo-modal">
  <div class="card-modal__header">
    <h2 class="card-modal__title"><%= locals[:title] %></h2>
  </div>
  <div class="card-modal__body">
    <%= render locals[:form] %>
  </div>
</div>
