.body {
  grid-area: body;
  overflow: hidden;

  margin: 0 var(--space-s);
  border: var(--border-frame-light);
  border-top: var(--border-frame-top);

  @include media(tabletAndUp) {
    // max-width: 90rem;
  }
}

.body--planner,
.body--recipes {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: auto 1fr;
  grid-template-areas:
    "searchbar searchbar searchbar searchbar"
    "sidebar cards cards cards";
}

.body--home {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto 1fr 10vh;
  grid-template-areas:
    "sec-header "
    "cards"
    "sec-footer";
}

.body--household {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto auto 1fr;
  grid-template-areas:
    "sec-header"
    "cards"
    ".";
}

.body--frame {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto 1fr 10vh;
  grid-template-areas:
    "sec-header "
    "cards"
    "sec-footer";
}


.body--menu {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto minmax(0, 1fr);
  grid-template-areas:
    "sec-header"
    "cards";
}

.body--grocery {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto 1fr;
  grid-template-areas:
    "sec-header"
    "cards";
}
