.body {
  grid-area: body;
  overflow: hidden;

  &--bdr-frame {
    padding: 0 var(--space-m);
    margin: 0 var(--space-xs);
    border: var(--border-frame);
    border-top: var(--border-frame-top);
  }


  @include media(tabletAndUp) {
    // max-width: 90rem;
  }
}

.body--planner,
.body--recipes {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: auto 1fr;
  grid-template-areas:
    "searchbar searchbar searchbar searchbar"
    "sidebar cards cards cards";
}

.body--household {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto auto 1fr;
  grid-template-areas:
    "sec-header"
    "cards"
    ".";
}


.body--menu {

}
