.section-cards {
  grid-area: cards;
  width: 100%;
  padding: var(--space-m), var(--space-s);
  border: var(--border-frame);
  overflow-x: hidden;
  overflow-y: scroll;

  background-color: var(--color-background);
  // Background patterns
  $s: var(--space-vxl);
  $c1: var(--color-pearl);
  $c2: var(--color-onyx);
  // Checkered - parallel
  // background:
  //   repeating-conic-gradient(#{$c1} 0% 25%, transparent 0% 50%)
  //     50% / #{$s $s};

  // Checkered - diagonal
  // background:
  //   repeating-conic-gradient(from 90deg,
  //       #{$c1} 0% 25%, transparent 0% 50%)
  //       50% / #{$s $s};



  // background-image: /* tint image */
  // linear-gradient(to right, rgba(192, 192, 192, 0.75), rgba(192, 192, 192, 0.75)),
  // /* checkered effect */
  // linear-gradient(to right, black 50%, white 50%),
  // linear-gradient(to bottom, black 50%, white 50%);
  // background-blend-mode: normal, difference, normal;
  // background-size: 5em 5em;

}
