.container {
  height: 100vh;
  width: 100vw;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr auto auto;
  grid-template-areas:
  "body"
  "header"
  "navbar"
  "body";

  @include media(tabletAndUp) {
    grid-template-areas:
    "navbar"
    "header"
    "body";
    grid-template-rows: auto auto 1fr;

  }
}
