.container-box {
  height: 100vh;
  width: 100vw;
  background-color: var(--color-onyx);
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr auto;
  grid-template-areas:
  "header"
  "navbar"
  "body";


  @include media(tabletAndUp) {
    grid-template-areas:
    "navbar"
    "header"
    "body";
    grid-template-rows: auto auto 1fr;

  }
}
