.container {
  width: 100%;
  padding-right: var(--space-xs);
  padding-left: var(--space-xs);
  background-color: var(--color-pearl);
  margin-left: auto;
  margin-right: auto;
  border-left: var(--border-dark);
  border-right: var(--border-dark);



  @include media(tabletAndUp) {
    padding-right: var(--space-m);
    padding-left: var(--space-m);
    max-width: 90rem;
  }
}
