.header {
  display: flex;
  flex-wrap: nowrap;
  gap: var(--space-s);
  justify-content: space-between;
  padding-top: var(--space-xxs);
  padding-bottom: var(--space-xs);
  background-color: var(--color-pearl);

  @include media(tabletAndUp) {
    padding-bottom: var(--space-m);
  }
}
