.section-menu {
  width: 100%;
  // height: 100%;
  padding-right: var(--space-xs);
  padding-left: var(--space-xs);


  margin-left: auto;
  margin-right: auto;
  background-color: var(--color-pearl);

  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  overflow-x: scroll;
  overflow-y: hidden;
}
