.section-recipe {
  grid-area: body;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: auto 1fr;
  grid-template-areas:
    "search-section search-section search-section search-section"
    "sidebar cards cards cards";
  overflow-y: scroll;

  // background-color: var(--color-onyx);
  // color: var(--color-pearl);
  margin: 0 var(--space-xs);
  border: var(--border-frame);
  border-top: var(--border-frame-top);
}

