.section--header {
  grid-area: sec-header;

}


.section--header-household {
  display: grid;
  grid-template-columns: 1fr 4fr 1fr;
  grid-template-rows: auto;
  grid-template-areas: ". banner .";

  .header-banner {
    grid-area: banner;
    display: flex;
    justify-items: center;
    align-items: center;


    h1, h2, h3 {
      color: var(--color-pearl);
      margin: 0;
    }
  }
}
