.section-menu {
  grid-area: body;
  display: flex;
  flex-flow: row nowrap;
  align-items: flex-start;
  justify-content: flex-start;
  overflow-x: scroll;
  overflow-y: hidden;
  box-shadow: var(--shadow-large-light);
}
