.section--header {
  grid-area: sec-header;

}

.section--header-household {
  display: grid;
  grid-template-columns: 6fr 1fr;
  grid-template-rows: auto;
  grid-template-areas: "banner .";

  padding: var(--space-m);

  &__banner {
    grid-area: banner;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;


    h1, h2, h3 {
      color: var(--color-pearl);
      margin: 0;
    }
  }

  &__new-user {
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-end;
    align-items: center;
  }
}

.section--header-grocery {
  display: grid;
  // grid-template-columns: 1fr;
  // grid-template-rows: auto;
  // grid-template-areas: "banner";
  justify-content: center;
  padding: var(--space-m);

  h1, h2, h3  {
    color: var(--color-pearl);
    margin: 0;
  }
}
