<%- title "User Edit" %>

<div class="body">
<%= link_to household_path(@household) %>

  <div class="section--header">
    <h1>Edit User Info page</h1>
  </div>

  <%= turbo_frame_tag dom_id(@user) do %>

        <%= render "form", user: @user %>

  <% end %>
</div>
