<%- title "User Edit" %>

<div class="body">
  <div class="section-header">
    <h1>Edit Quote</h1>
  </div>

  <%= turbo_frame_tag dom_id(@user) do %>
    <div class="card-user">
      <div class="card-user__edit">
        <%= render "form", user: @user %>
      </div>
    </div>
  <% end %>
</div>
