<div class="container">
<%= link_to household_path(@household) %>

  <div class="header">
    <h1>Edit Quote</h1>
  </div>

  <%= turbo_frame_tag dom_id(@user) do %>
    <%= render "form", user: @user %>
  <% end %>
</div>
