<%- title "User New" %>
<div class="body">
  <h1>New User</h1>
  <%= turbo_frame_tag dom_id(@user) do %>
    <%= turbo_frame_tag "modal", data: { controller: "turbo-modal" } do %>
      <%= render "partials/modal",
                  locals: { title: "Add new Member to household",
                            form: "users/form"
                          } %>
    <% end %>
    <div id="modal-overlay"></div>
  <% end %>
</div>
