<%- title "User New" %>

<div class="container">
  <h1>New User</h1>

  <%= turbo_frame_tag dom_id(@user) do %>
    <%= turbo_frame_tag "modal" do %>
            <%= render "partials/modal",
                  locals: { title: "Add new User to Household",
                            form: "users/form"
                          } %>
            <%# "form", user: @user %>

    <% end %>
  <% end %>
</div>
