<%- title "Meal Planner" %>

<div class="container"
     id="planner"
     data-course-type="<%= @course_type %>"
     data-meal-ids="<%= @meal_ids.join(", ") %>"
     data-controller="course-type-radio-selector"
     data-course-type-radio-selector-target="setter">
  <div class="header">
    <%= render 'shared/searchbar' %>
  </div>
  <div class="section-cards">
    <div id="gList"></div>
    <%= render "recipes/recipes", recipes: @recipes, locals: { title: yield(:title) } %>
  </div>
</div>
