
<%- title "Meal Planner" %>

<div class="container"
     value="<%= @course_type %>"
     data-controller="course-type-radio-selector"
     data-target="course-type-radio-selector.output">
  <div class="header">
    <%= render 'shared/searchbar' %>
  </div>
  <div class="section-cards">
    <%= turbo_frame_tag dom_id(Grocery.new),
        data: {
          controller: "turbo-modal",
          path: new_grocery_path(course_ids: @course_ids),
          turbo_modal_ids_value: @course_ids
        } %>
    <%= render "recipes/recipes", recipes: @recipes, locals: { title: yield(:title) } %>
  </div>
</div>
