<div class="section--searchbar">
  <% title = yield :title %>
  <div class="section--searchbar__title">
    <%# Helper insert %>
    <div class="title">
      <% if title == "Meal Planner" %>
        <h2>Meal Planner for:</h2>
        <% end %>
      <% if title == "Recipes" %>
        <h2>Search for Recipes:</h2>
      <% end %>
    </div>
  </div>
  <div class="section--searchbar__bar">
      <%= render 'recipes/search_form' %>
  </div>
</div>
