<%- title "Menu has_many Meals" %>

<div class="body" data-controller="removals">

<h1>Pages#home</h1>
<p>Find me in app/views/pages/home.html.erb</p>
<p>Unsigned in section area</p>
<% if user_signed_in? %>
  <p><strong><u>First name</u>:</strong> <%= current_user.name_first %></p>
  <p><strong><u>Last name</u>:</strong> <%= current_user.name_last %></p>
<% end %>

</div>
