<%- title "Menu has_many Meals" %>

<div class="body body--home" data-controller="removals">
  <% menu = @household.menus.detect { |d| d.date == Date.current } %>
  <% meal_type = mealtime(Time.now.hour) %>
  <div class="section--header section--header-home">
      <div>
        <h2>Welcome to Today!</h2>
        <h4><%= menu.day_of_week %></h4>
      </div>
  </div>
  <div class="section--cards section--cards-home">
    <div class="card-modal card-modal--mealtype">
      <%= turbo_frame_tag "menu_#{menu.id}_#{meal_type}", src: show_meal_menu_path(id: menu.id, meal_type: meal_type) do %>
        <p>Loading ... </p>
      <% end %>
    </div>
    <%# <div class="card-modal card-modal--glist">
    </div>
    <div class="card-modal card-modal--ingredients">
    </div> %>
  </div>
  <div class="section--footer section--footer-home ">
    <div class="section--footer-home--checkered section--footer-home-small">

    </div>
  </div>
</div>
