<div>
  <div class="header">
    <%= grocery.name %> |
    <%= grocery.category %> |
    <%= grocery.quantity %> |
    <%= grocery.measurement %>
  </div>
  <div class="action">
    <p>"TEST"</p>
  </div>
</div>
