<%= turbo_stream.replace "gList" do %>
  <div id="gList"></div>
<% end %>

<%= turbo_stream.replace "refreshCourses" do %>
  <div id="refreshCourses" data-refresh-frame-target="refreshCourses"></div>
<% end %>
