<% provide(:title, "Grocery List") %>
<div class="container">
  <div class="header">
    <h1>Grocery List show page</h1>
  </div>
  <div class="section-cards">
    <ul>
      <%= render "groceries/grocery", groceries: @grocery_list %>
    </ul>
  </div>
</div>
