<% provide(:title, "Grocery List") %>
<div class="body body--grocery">
  <div class="section--header section--header-grocery">
    <h1>Grocery List show page</h1>
  </div>
  <div class="section--cards grocery-list">

    <%= render "groceries/bulk_edit_form", groceries: @grocery_list  %>
  </div>


</div>
