<div class="container">
<h1>Grocery New page </h1>
  <div class="column">
    <div class="card-header">
      <h6 class="card-title">Grocery List - add items</h6>
      <p>For: <%= @recipe.label %> </p>
    </div>
    <div class="row">
      <%= render "form" %>
    </div>
  </div>
</div>
