<div class="container">
  <h1>Grocery New page </h1>
  <div class="column">
    <%= turbo_frame_tag dom_id(@grocery) do %>
      <%= turbo_frame_tag "modal", target: :_top do %>
        <%= render "partials/modal",
        locals: { title: "Add items to Grocery List",
                  form: "groceries/form"
                } %>
      <% end %>
    <% end %>
  </div>
</div>
