<div class="container">
<h1>Grocery New page </h1>
  <div class="row">
      <div class="card m-4 ">
        <div class="card-header">
          <h6 class="card-title">Grocery List - add items</h6>
        </div>
        <div class="card-body">
          <%= render "form" %>
        </div>
        <div class="card-footer text-muted mt-2">
          <%= @recipe.label %>
        </div>
      </div>
  </div>
</div>
