<div class= "card-meal">
  <% @meal = meal %>
  <div class="card-meal__header">

    <h4><%= User.find(@meal.user_id).name_first %></h4>
    <%= link_to "Edit this Meal", planners_path(
              meal_ids: [@meal.id]),
              data: { turbo_frame: "_top" },
              class: "btn btn-dark" %>


  </div>
  <div class="card-meal__body">

  <%= turbo_frame_tag id="courses", class: "section--cards-courses",
                src: courses_path(meal_ids: [@meal.id]),
                data: { refresh_frame_target: "plannerCourses" } %>

  <%# Go through each course (@courses) and match course_type & render card %>
  </div>
</div>
