<div class= "card-menu-meal-course">
  <% @meal = meal %>
  <div class="card-menu-meal-course__header">
    <h4><%= User.find(@meal.user_id).name_first %></h4>
    <%= link_to menus_path do %>
      <i class="fa-regular fa-circle-xmark"></i>
    <% end %>
  </div>
  <div class="card-menu-meal-course__body">

  <%= turbo_frame_tag id="planner_courses", class: "sidebar__courses",
          src: courses_path(meal_ids: [@meal.id]) %>

  <%# Go through each course (@courses) and match course_type & render card %>
  </div>
</div>
