
<div class="container">
<h1>Meal_New page of Meals</h1>
  <div class="row">
    <div class="" data-controller="turbo-modal">
      <div class="card m-4 ">
        <div class="card-header">
          <h2 class="card-title">Choose Meal</h2>
          <h6>Modal</h6>
        </div>
        <div class="card-body">
          <%= render "meals/new_meal_form" %>
        </div>
        <div class="card-footer text-muted mt-2">
          <%# <%= button_tag "Close", data: { action: "turbo-modal#hideModal"},
              type: "button", class: "rounded-lg py-3 px-5 bg-red-400 text-blue" %> %>
        </div>
      </div>
    </div>
  </div>
</div>
