<%- title "Meal Planner Form" %>
<div class="container">
  <h1>Planner Form</h1>
  <%= turbo_frame_tag dom_id(@meal) do %>
    <%= turbo_frame_tag "modal", target: :_top do %>
      <%= render "partials/modal",
                  locals: { title: "Choose Meal details",
                            form: "meals/new_meal_form"
                          } %>
    <% end %>
  <% end %>
</div>
