
<div class="row">
  <div class="col-sm-10 col-md-8 col-lg-6 col-xl-4 offset-sm-1 offset-md-2 offset-lg-3 offset-xl-4">
    <div class="card mb-4">
      <div class="card-header">
        <h2 class="card-title">Meal Create</h2>
      </div>
      <div class="card-body">
        <%= render "meal/new" %>
      </div>
      <div class="card-footer text-muted">
        <%=  %>
      </div>
    </div>
  </div>
</div>



<%# <form action="/meals" method='post' accept-charset="UTF-8">

  <label for="meal_type">Enter Meal type<label>
  <input type="text" id="meal_type" name="meal_type"> <br>

  <label for="user_ids">Users</label>
  <input type="test" id="user_ids" name="user_ids[]" > <br>

  <label for="menu_ids">Enter date</label>
  <input type="text" id="menu_ids" name="menu_ids[]"> <br>

  <input type="submit" value="Submit">

</form> %>

<%# menu_ids.each do |menu_id|
  menu = Menu.find(menu_id)
    user_ids.each do |user_id|
      Meal.create!(meal_type: meal_type, user_id: user_id, menu_id: menu_id)
      meal_id = Meal.last.id
      courses_info.each do |course|
        Course.create!(meal_id: meal_id, course_type: course[0], recipe_id: course[1])
      end
    end
end %>
