<h1>Meal show page</h1>
<div class="container">
  <div>
    <h4>Courses</h4>
  </div>
  <div>
    <%= link_to "Add Course", new_menu_meal_course_path(@menu, @meal) %>
  </div>
  <div>
    <%= render @courses, meal: @meal %>
  </div>
</div>
