<% provide(:title, "Course") %>
<%# <%- title "Course" %> %>
<div class="body">
  <div class="section--header">
    <%= render "shared/searchbar" %>
  </div>
  <div class="section-cards">
    <%= render "recipes/recipes", recipes: @recipes, locals: { title: yield(:title) } %>
  </div>
</div>
