<%- title "Course" %>

  <div class="container">
    <%# TurboFrameTag %>
      <div class="header">
        <%= render "shared/searchbar" %>
      </div>
      <div class="section-cards">
        <%= render "recipes/recipes", recipes: @recipes, locals: { title: yield(:title) } %>
      </div>
    <%# TurboFrameTag %>
  </div>
