<%- title "Course Index" %>

<div class="body">

<%= turbo_frame_tag "courses", class: "sidebar__courses" do %>
    <% unless @course_recipes.nil? %>
      <% @course_types.each do |course_type| %>
        <div class="course-type">
          <span class="course-title">

            <h4><%= course_type.capitalize.pluralize %>:</h4>
          </span>
          <div class="list">
            <%= render @courses.select { |course| course.course_type == course_type },
                                        recipes: @course_recipes,
                                        recipe_keyes: @recipes_with_course_id %>
          </div>
        </div>
      <% end %>
    <% end %>
<% end %>
</div>
