<div class="container">
  <h1>New Course page</h1>


  <div>
    <%= render 'recipes/search_bar', path: new_menu_meal_course_path(@menu, @meal) %>
  </div>
  <br>
  <br>
  <div>
    <%= render 'courses/recipe_card' %>
  </div>
</div>
