<head><meta name="turbo-visit-control" content="reload"></head>

<%- title "Course" %>
<div class="container">
  <h1>New Course page</h1>
  <small><h4>Title page: <%= yield(:title) %></h4></small>
  <div>
    <%= render 'recipes/search_bar' %>
  </div>
  <hr>
  <div>
    <%= render "recipes/recipes", recipes: @recipes, locals: { title: yield(:title) } %>
  </div>
</div>
