.radio-btns {
  display: flex;
  flex: 0 0 auto;
  flex-flow: row wrap;
  justify-content: flex-start;
  gap: var(--space-xs);
}

.radio-item {
  flex: 0 1 auto;
}
.radio-btn {
  position: absolute;
  transform: scale(0);
}

.radio-btn + label {
  cursor: pointer;
  width: 100%;
  box-sizing: border-box;
  text-align: center;
}
