.checkboxes {
  display: flex;
  flex: 0 0 auto;
  flex-flow: row wrap;
  justify-content: flex-start;
  gap: var(--space-xs);
}

.check_box {
  position: absolute;
  transform: scale(0);
}

.check_box + label {
  cursor: pointer !important;
  display: inline-block;
  background-origin: border-box; // Invisible borders with linear gradients
  text-decoration: none;

  outline: none;
  transition: filter 400ms, color 200ms;

  &:hover,
  &:focus,
  &:focus-within,
  &:active {
    color: var(--color-dark);
    filter: brightness(92%);
  }

}


// .type {
//   display: inline-flex;
//   flex: 2 1 auto;
//   flex-flow: row nowrap;
//   gap: var(--space-m);
// }
