.card-course {
  display: flex;
  flex-flow: row nowrap;
  // flex-shrink: 2;
  justify-content: flex-start;
  box-sizing: content-box;
  margin: var(--space-xxs);
  background-color: var(--color-white);
  border: var(--border-muted);
  border-radius: var(--border-radius);
  box-shadow: var(--shadow-small);
  gap: var(--space-xs);


  &--tiny {
  max-height: var(--space-xxxxl);
  min-height: var(--space-xxxxl);
  // min-width: 18rem;
  // max-width: 24rem;

  }


  &__img {
    display: inline-flex;
    flex: 0 0 auto;
    img {
      border: var(--border-muted);
      border-radius: var(--border-radius);
      max-width: 100%;
      min-height: 100%;
      width: auto;
      height: auto;
      object-fit: scale-down;
      object-position: 50% 50%;
    }
  }

  &__details {
    display: flex;
    flex: 0 1 auto;
    align-items: center;
    justify-content: flex-start;
    padding-right: 0 var(--space-s);
    // min-width: 10rem;
    // max-width: 10rem;


    p {
      margin: 0;
      text-decoration: none;
      text-align: left;
      font-size: var(--font-size-m);
    }
  }

  &__action {
    display: flex;
    flex-flow: row nowrap;
    flex: 0 1 0;
    align-items: center;
    gap: var(--space-xs);
    margin: 0 var(--space-xs);
    font-size: var(--font-size-xs);

    p {
      margin-top: 0;
      margin-bottom: 0;
      text-decoration: none;
      text-align: left;
      font-size: var(--font-size-xs);
    }


    a, button {
      font-size: var(--font-size-xl);
      font-weight: bold;
    }
  }


}
