.card-deck {
  display: flex;
  justify-content: space-around;
  flex-flow: row wrap;
  padding: 0;
  gap: var(--space-m);
}

.card-recipe {
  display: flex;
  flex-flow: column nowrap;
  border: var(--border-muted);
  border-radius: var(--border-radius);
  box-shadow: var(--shadow-large);
  width: 288px;
  height: 365px;

  &__header {
    height: auto;
    background-size: cover;
    position: relative;
    float: left;
    border-radius: var(--border-radius) var(--border-radius) 0 0;

    img {
      border-radius: var(--border-radius) var(--border-radius) 0 0;
      max-width: 100%;
      min-height: 100%;
      width: auto;
      height: auto;
      object-fit: cover;
      object-position: 50% 50%;
    }

    a {
      z-index: 1;
      display: block;
      border-radius: inherit;

    }

    a::after {
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      content: ' ';
    }

    p {
      display: flex;
      margin: 0;
      color: var(--color-white);
      font-size: var(--font-size-l);
      font-weight: bolder;
      text-shadow: 2px 2px 4px var(--color-onyx);
      opacity: 0;
    }

    .label {
      position: absolute;
      bottom: var(--space-xl);
      left: var(--space-s);
    }

    .source {
      position: absolute;
      bottom: var(--space-xxs);
      left: var(--space-s);
      font-size: var(--font-size-m);
    }

    &:hover {
      p {
        opacity: 1;
      }

    }
  }

  &__footer {
    height: auto;
    flex-flow: column nowrap;
    justify-content: flex-end;
    padding: 0 var(--space-xs);
    margin-right: auto;
    margin-left: auto;
    background-color: var(--color-onyx);
    color: var(--color-pearl);
    border-radius: var(--border-radius) var(--border-radius) 0 0;
    // overflow-y: hidden;
    // overflow-y: scroll;

    // .list {
    //   .item {
    //     width: 100%;
    //     display: inline-block;
    //   }
    // }

    // .list::-webkit-scrollbar {
    //   -webkit-appearance: none;
    //   background-color: var(--color-white);
    //   width: 7px;
    // }
    // .list::-webkit-scrollbar-thumb {
    //   border-radius: 4px;
    //   background-color: var(--color-primary);
    //   -webkit-box-shadow: 0 0 1px rgba(255, 255, 255, .5);
    // }
  }


  &__body {
    display: flex;
    flex: 0 1 auto;
    flex-flow: column nowrap;
    justify-content: flex-start;
    padding: 0;
    background-color: var(--color-pearl);
    border-top: var(--border-muted);
    border-radius: 0 0 var(--border-radius) var(--border-radius);

    .content-header {
      // display: block;
      // height: auto;
      padding: var(--space-xs) var(--space-m) var(--space-s);
      border-bottom: var(--border-muted);

      p, a {
        font-size: var(--font-size-m);
        margin-bottom: 0;
      }
    }

    .content-body {
      position: relative;
      border-radius: inherit;

      .details {
        display: flex;
        flex: 1 1 auto;
        justify-content: space-between;
        padding: var(--space-s) 0 var(--space-m);
        margin: 0;
        list-style: none;

        .item {
          // display: flex;
          flex: 1 1 auto;
          text-align: center;
          gap: var(--space-xxs);

          i {
            font-size: var(--font-size-xl)
          }

          .value {
            font-size: var(--font-size-m);
            margin-left: var(--space-xs);
          }

          .title {
            display: block;
            height: auto;
            font-size: var(--font-size-m);
          }

        }
      }

      button {
        z-index: 1;
        display: block;
        background: none;
        color: inherit;
        border: none;
        padding: 0;
        font: inherit;
        cursor: pointer;
        outline: inherit;

      }

      button::after {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        content: '';
      }

      &:hover {
        background-color: var(--color-onyx);
        color: var(--color-pearl);
        border-top: var(--border-light);


        // button{
        //   color: var(--color-pearl)
        // }
      }
    }
  }

  // Specific classes for stimulus Visability actions

  // Flexbox collapse toggle
  .hideable-flex {
    flex: 1 0 0;
    overflow: hidden;
    overflow: scroll;
    transition: all 1.5s ease-in;
  }
  .flex-collapsed {
    flex: 0;
  }
  // Attempt (1st) [is-hidden] using height set and decrease
 .div-hidden {
  display: none;
  height: 0;
  overflow: hidden;
  }
  .hideable-div {
    transition: all 1.0s ease-out;
  }


  // // Attemp (2nd) [is-oepn] using hidden + transform(translateY())
  // .card-recipe__header,
  // .content-header,
  // .title,
  // .card-recipe__footer {
  //   transform: translateY(-100%);
  //   transition: transform ease-out 0.5s;
  // }

  // .is-open {
  //   transform: translateY(0);
  // }

  // &__footer.is-hidden {
  //   display: none;
  //   height: 0;
  //   overflow: hidden;
  //   transition: height 350ms ease-in-out;
  // }
}
