.card-mealtype {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;
  border: var(--border-muted);
  border-radius: var(--border-radius);
  background-color: var(--color-pearl);
  box-shadow: var(--shadow-small-light);

  min-width: 360px;

  &__header {

    display: inline-flex;
    justify-content: space-between;
    align-items: center;
    // padding-left: var(--space-s);
    border-bottom: var(--border-muted);
    font-size: var(--font-size-xs);
    background-color: var(--color-onyx);
    border-top-left-radius: inherit;
    border-top-right-radius: inherit;
    padding: 0 var(--space-xs);
    min-width: 100%;

    > * {
      margin: 0;
      color: var(--color-white)
    }

    a {
      color: var(--color-white);
    }





    // display: flex;
    // flex-direction: column;
    // justify-content: center;
    // align-items: center;
    // padding-top: var(--space-xs);
    // height: 10%;
    // font-weight: bold;
    // font-size: var(--font-size-m);
    // a {
    //   color: var(--color-dark);
    //   text-align: left;
    //   display: block;
    //   z-index: 1;
    // }
  }

  &__body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: var(--space-xs) 0;
    gap: var(--space-m)
  }
}
