
.card-menu{
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  height: 96%;
  float: none;
  background-color: var(--color-white);
  border: var(--border-muted);
  border-radius: var(--border-radius);
  margin: var(--space-s) var(--space-s)var(--space-l)var(--space-s);
  box-shadow: var(--shadow-small);



  &__header {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    padding-top: var(--space-s);
    height: 10%;
    font-weight: bold;
    font-size: var(--font-size-m);
  }

  // Contains Meal cards
  &__body {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    height: 100%;
    justify-content: space-between;
    gap: var(--space-l);
    padding: var(--space-m);
  }

}
