.card-course {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-around;
  margin: var(--space-xxs);
  background-color: var(--color-white);
  border: var(--border-muted);
  border-radius: var(--border-radius);
  box-shadow: var(--shadow-small);
  gap: var(--space-xs);

  &--course-new {
  max-height: var(--space-xxxxl);
  min-height: var(--space-xxxl);
  width: 24rem
  }


  &__img {
    display: inline-flex;
    flex: 0 0 auto;
    img {
      border: var(--border-muted);
      border-radius: var(--border-radius);
      max-width: 100%;
      min-height: 100%;
      width: auto;
      height: auto;
      object-fit: scale-down;
      object-position: 50% 50%;
    }
  }

  &__details {
    display: inline-flex;
    flex: 1 1 0;
    align-items: center;
    justify-content: flex-start;
    min-width: 9rem;
    font-size: var(--font-size-m);
    padding-right: 0 var(--space-s);

    p {
      margin: 0 0 0 var(--space-xxs);
      text-decoration: none;
      text-align: left;
      font-size: var(--font-size-xs);
    }
  }

  &__action {
    display: inline-flex;
    flex-flow: row nowrap;
    flex: 0 1 0;
    align-items: center;
    gap: var(--space-xs);
    margin: 0 var(--space-xs);
    font-size: var(--font-size-xs);

    p {
      margin-top: 0;
      margin-bottom: 0;
      text-decoration: none;
      text-align: left;
      font-size: var(--font-size-xs);
    }


    a, button {
      font-size: var(--font-size-xl);
      font-weight: bold;
    }
  }


}
