.card-mealtype {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;
  border: var(--border-shaded);
  border-radius: var(--border-radius);
  background-color: var(--color-bg-light);
  box-shadow: var(--shadow-small-light);

  min-width: 360px;

  &__header {
    min-width: 100%;
    display: grid;
    grid-template-columns: 8fr 1fr 1fr;
    justify-items: start;
    align-items: center;
    padding-left: var(--space-m);
    padding-right: var(--space-xs);
    border-bottom: var(--border-shaded);
    background-color: var(--color-bg-dark);
    border-top-left-radius: inherit;
    border-top-right-radius: inherit;

    > * {
      margin: 0;
      color: var(--color-white)
    }

    a {
      color: var(--color-white);
      font-size: var(--font-size-xl);
    }


  }

  &__body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: var(--space-xs) 0;
    gap: var(--space-m)
  }

  &__footer {
    height: 0;
  }
}
