.card-menu-meal-course {
  display: flex;
  flex-shrink: 1;
  flex-flow: column nowrap;
  justify-content: start;

  padding: var(--space-xxs);
  background-color: var(--color-white);
  border: var(--border-muted);
  border-radius: var(--border-radius);
  box-shadow: var(--shadow-small);


  &__header {
    display: inline-flex;
    justify-content: space-between;
    // padding-left: var(--space-s);
    border-bottom: var(--border-muted);
    font-size: var(--font-size-xs);

    p {
      margin-top: var(--space-xxs);
      margin-bottom: 0;
      text-align: left;
      font-size: var(--font-size-xs);
    }
}
  &__body {
    display: flex;
    flex: 0 1 auto;
    flex-direction: column;
    justify-content: space-between;
    padding: 0;
    font-size: var(--font-size-xxs);
    // width: 100%;
    // min-width: 100px;

    .course-item {
      display: inline-flex;
      flex-flow: row nowrap;
      justify-content: flex-start;
      align-items: flex-end;
      background-color: var(--color-white);
      padding: var(--space-xxs);
      min-height: var(--space-xxl);
      gap: var(--space-xxs);

      h5 {
        text-decoration: underline;
        font-size: var(--font-size-xxs);
      }
    }
  }
}
