.card-meal {

  display: flex;
  flex-shrink: 1;
  flex-flow: column nowrap;
  justify-content: start;

  // padding: var(--space-xxs);
  background-color: var(--color-bg-white);
  border: var(--border-shaded);
  border-radius: var(--border-radius);
  box-shadow: var(--shadow-small-dark);

  &__header {
    min-width: 100%;
    display: grid;
    grid-template-columns: 9fr 1fr;
    justify-items: start;
    align-items: center;
    padding-left: var(--space-m);
    padding-right: var(--space-xs);
    border-bottom: var(--border-shaded);
    background-color: var(--color-bg-muted);
    border-top-left-radius: inherit;
    border-top-right-radius: inherit;

    > * {
      margin: 0;
    }

    a {
      color: var(--color-text-black);
      font-size: var(--font-size-l);
    }
  }

  &__body {
    display: flex;
    flex: 1 1 auto;
    flex-direction: column;
    justify-content: space-between;
    padding: var(--space-xs) var(--space-s);
    border-radius: inherit;
  }

  &__footer {
    height: 0;
  }
}
