.card-recipe {
  position: relative;
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-end;
  border: var(--border-muted);
  border-radius: var(--border-radius);
  box-shadow: var(--shadow-large);
  // width: 256px;
  height: 320px;
  // width: 192px; 224 256
  // height: 256px; 288 320


  &__header {
    // position: relative;
    overflow: hidden;
    border-radius: var(--border-radius) var(--border-radius) 0 0;

    img {
      display: block;
      max-width: 100%;
      min-height: 100%;
      width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: center;
      border-radius: inherit;
    }

    a {
      z-index: 1;
      display: block;
      border-radius: inherit;

    }

    a::after {
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      content: ' ';
    }

    p {
      // display: flex;
      margin: 0;
      color: var(--color-white);
      font-size: var(--font-size-l);
      font-weight: bold;
      text-shadow: 2px 2px 4px var(--color-onyx);
      opacity: 0;
      border: 2px solid var(--color-black)
    }

    .label {
      position: absolute;
      top: var(--space-xl);
      left: var(--space-s);
    }

    .source {
      position: absolute;
      top: var(--space-xxs);
      left: var(--space-s);
      font-size: var(--font-size-m);
    }

    &:hover {
      p {
        opacity: 1;
      }

    }
  }

  &__footer {
    // height: auto;
    // max-height: 60%;
    flex-flow: column nowrap;
    justify-content: flex-end;
    padding: 0 var(--space-xs);
    margin-right: auto;
    margin-left: auto;
    background-color: var(--color-onyx);
    color: var(--color-pearl);
    border-radius: var(--border-radius) var(--border-radius) 0 0;
    // overflow: hidden;
    // overflow: scroll;

    .list {
      max-height: 80%;

      .item {
        width: 100%;
        display: inline-block;
      }
    }

    // .card-recipe__footer::-webkit-scrollbar {
    //   -webkit-appearance: none;
    //   background-color: var(--color-white);
    //   width: 7px;
    // }
    // .card-recipe__footer::-webkit-scrollbar-thumb {
    //   border-radius: 4px;
    //   background-color: var(--color-primary);
    //   -webkit-box-shadow: 0 0 1px rgba(255, 255, 255, .5);
    // }
  }

  &__body {
    display: flex;
    flex: 0 1 auto;
    flex-flow: column nowrap;
    justify-content: flex-start;
    padding: 0;
    background-color: var(--color-pearl);
    border-top: var(--border-muted);
    border-radius: 0 0 var(--border-radius) var(--border-radius);

    .content-header {
      padding: var(--space-xs) var(--space-m) var(--space-s);
      border-bottom: var(--border-muted);

      a {
        font-size: var(--font-size-s);
        font-weight: bolder;
        margin-bottom: 0;
      }

      p {
        font-size: var(--font-size-s);
        margin-bottom: 0;
      }
    }

    .content-body {
      position: relative;
      border-radius: inherit;

      .details {
        display: flex;
        flex: 1 1 auto;
        justify-content: space-between;
        padding: var(--space-s) 0 var(--space-m);
        margin: 0;
        list-style: none;

        .item {
          // display: flex;
          flex: 1 1 auto;
          text-align: center;
          gap: var(--space-xxs);

          i {
            font-size: var(--font-size-xl)
          }

          .value {
            font-size: var(--font-size-m);
            margin-left: var(--space-xs);
          }

          .title {
            display: block;
            height: auto;
            font-size: var(--font-size-m);
          }

        }
      }

      button {
        z-index: 1;
        display: block;
        background: none;
        color: inherit;
        border: none;
        padding: 0;
        font: inherit;
        cursor: pointer;
        outline: inherit;

      }

      button::after {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        content: '';
      }

      &:hover {
        background-color: var(--color-onyx);
        color: var(--color-pearl);
        border-top: var(--border-light);

        .servings > i,
        .servings > .value,
        .servings > .title {
          // background-color: var(--color-pearl);
          color: var(--color-onyx);
        }


        // button{
        //   color: var(--color-pearl)
        // }
      }
    }
  }

  .form-button {
    position: absolute;
    float: none;
    top: 4%;
    right: 8%;
    text-align: center;
    z-index: 2;
  }

  // Specific classes for stimulus Visability actions

  // Flexbox collapse toggle
  .hideable-flex {
    flex: 1;
    transition: all 1s ease-in;
    overflow: hidden;
    overflow-y: scroll;
  }
  .flex-collapsed {
    flex: 0;
  }
  // Attempt (1st) [is-hidden] using height set and decrease
 .div-hidden {
  display: none;
  height: 0;
  overflow: hidden;
  }
  .hideable-div {
    transition: all 1s ease-out;
  }
}
