.card-menu-meal-course {
  font-size: var(--font-size-xs);
  display: inline-block;
  width: 100px;
  padding: var(--space-xs) 0;


  &__p {
    margin-top: var(--space-xs);
    margin-bottom: 0;
    text-decoration: underline;
    text-align: left;
    font-size: var(--font-size-xs);
  }



}
