.card-deck {
  display: flex;
  justify-content: space-around;
  flex-flow: row wrap;
  padding: 0;
  gap: var(--space-m);
}

.card-recipe {
  display: flex;
  flex-flow: column nowrap;
  border: var(--border-muted);
  border-radius: (--border-radius);
  box-shadow: var(--shadow-small);
  width: 256px;
  height: 100%;


  &__header {
    img {
      max-width: 100%;
      min-height: 100%;
      width: auto;
      height: auto;
      object-fit: cover;
      object-position: 50% 50%;
    }
  }

  &__body {
    display: flex;
    flex: 1 0 auto;
    padding: 0 var(--space-l) var(--space-s);
    flex-flow: column nowrap;
    justify-content: space-between;

    .content-header {
      padding: var(--space-xs) 0 var(--space-xxs);
      min-height: 20%;

      a {
        font-weight: bold;
        font-size: var(--font-size-s);
      }

      p {
        font-size: var(--font-size-s);
        margin: 0;
      }
    }

    .content-body {
      border-top: var(--border-muted);

      .details {
        display: flex;
        flex-shrink: 1;
        justify-content: space-between;
        padding: var(--space-xs) 0 var(--space-s);
        margin: 0;
        list-style: none;


        .item {
          // display: flex;
          flex: 1 1 auto;
          text-align: center;

          i {
            font-size: var(--font-size-l)
          }

          .value {
            font-size: var(--font-size-l);
          }

          .title {
            display: block;
          }
        }


      }
    }


  }

  &__footer {
    flex-shrink: 1;
    justify-content: center;
    padding: var(--space-xs);
    margin-right: auto;
    margin-left: auto;
  }
}
