.card-meal {

  display: flex;
  flex-shrink: 1;
  flex-flow: column nowrap;
  justify-content: start;

  // padding: var(--space-xxs);
  background-color: var(--color-white);
  border: var(--border-muted);
  border-radius: var(--border-radius);
  box-shadow: var(--shadow-small-dark);

  &__header {
    // display: inline-flex;
    // justify-content: space-between;
    // align-items: center;
    // padding-left: var(--space-s);
    min-width: 100%;
    display: grid;
    grid-template-columns: 9fr 1fr;
    justify-items: start;
    align-items: center;
    // font-size: var(--font-size-xs);
    padding-left: var(--space-m);
    padding-right: var(--space-xs);
    border-bottom: var(--border-muted);
    background-color: var(--color-muted);
    border-top-left-radius: inherit;
    border-top-right-radius: inherit;

    > * {
      margin: 0;
    }
  }

  &__body {
    display: flex;
    flex: 1 1 auto;
    flex-direction: column;
    justify-content: space-between;
    padding: var(--space-xs) var(--space-s);
    border-radius: inherit;
  }
}
