.card-menu-meal-user {
  display: flex;
  flex-direction: column;
  justify-content: start;

  padding: var(--space-xs);
  background-color: var(--color-white);
  border: var(--border-muted);
  border-radius: var(--border-radius);
  margin: var(--space-xs) var(--space-xs);
  box-shadow: var(--shadow-small);


  &__header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    height: 10%;
    padding-top: var(--space-s);
    font-size: var(--font-size-s);
}
  &__body {
    flex-direction: column;
    justify-content: space-between;
    padding: var(--space-xs);
    font-size: var(--font-size-xs)

  }
}
