.card-product {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  border: var(--border-muted);
  border-radius: var(--border-radius);
  box-shadow: var(--shadow-large-dark);
  width: 256px;
  height: 312px;


  &__header {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    overflow: hidden;
    flex: 0 1 auto;
    border-radius: var(--border-radius) var(--border-radius) 0 0;


    img {
      // max-width: 100%;
      // min-height: 100%;
      // width: auto;
      // height: auto;
      object-fit: cover;
      // object-position: 50% 50%;
      // flex-shrink: 1;
      min-width: 100%;
      max-width: 100%;

      border-radius: var(--border-radius) var(--border-radius) 0 0;
    }
  }

  &__body {
    display: flex;
    flex: 1 1 auto;
    flex-flow: column nowrap;
    justify-content: flex-start;
    padding: 0;
    background-color: var(--color-pearl);
    border-top: var(--border-muted);
    border-radius: 0 0 var(--border-radius) var(--border-radius);

    .content-header {
      // display: inline-flex;
      // flex-flow: column nowrap;

      padding: var(--space-xs) var(--space-m) var(--space-s);
      // border-bottom: var(--border-muted);

      p {
        font-size: var(--font-size-m);
        margin-bottom: 0;
      }
    }

    .content-body {
      // border-radius: inherit;
      padding: var(--space-xs) var(--space-m) var(--space-s);
      p {
        font-size: var(--font-size-m);
        margin-bottom: 0;
      }
    }
  }
}
