.card-menu {
  display: flex;
  flex: 0 3 auto;
  flex-flow: column nowrap;
  justify-content: flex-start;
  // height: 96%;
  float: none;
  border: var(--border-muted);
  border-radius: var(--border-radius);
  margin: var(--space-s) var(--space-s)var(--space-l)var(--space-s);
  background-color: var(--color-onyx);
  box-shadow: var(--shadow-small);



  &__header {
    display: flex;
    flex-flow: row nowrap;
    flex: 0 1 auto;
    justify-content: space-around;
    align-items: center;
    padding-top: var(--space-s);
    font-weight: bold;
    font-size: var(--font-size-m);
    h2 {
      color: var(--color-pearl);
      }
    a {
      color: var(--color-pearl);
      }
  }

  // Contains Meal cards
  &__body {
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    gap: var(--space-l);
    padding: var(--space-m);
  }

}
