.card-menu-meal-course {
  display: flex;
  flex-direction: column;
  justify-content: start;

  padding: var(--space-xs);
  background-color: var(--color-white);
  border: var(--border-muted);
  border-radius: var(--border-radius);
  box-shadow: var(--shadow-small);


  &__header {
    display: inline-flex;
    justify-content: space-between;
    padding-left: var(--space-s);
    font-size: var(--font-size-m);

    p {
      margin-top: var(--space-xs);
      margin-bottom: 0;
      text-align: left;
      font-size: var(--font-size-m);
    }
}
  &__body {
    flex-direction: column;
    justify-content: space-between;
    padding: 0;
    font-size: var(--font-size-xs);
    width: 100%;
    min-width: 100px;
  }
}
