
.card-menu{
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  height: 100%;
  float: none;
  background-color: var(--color-white);
  border: var(--border-muted);
  border-radius: var(--border-radius);
  margin: var(--space-s) var(--space-s);


  &__header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: var(--space-s);
    height: 10%;
    font-weight: bold;
    font-size: var(--font-size-m);
  }

&__body {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    padding: var(--space-m);
  }

}




// Menu_Meal_User



// .card-menu-day {
//   display: flex;
//   flex-direction: column;
//   height:98%;
//   width: 100%;
//   background-color: lightblue;
//   box-shadow: 0 0 15px rgba(0,0,0,0.2);
//   margin: 5px 2px 5px 2px;
// }

// .card-menu-day-header {
//   display: flex;
//   flex-direction: column;
//   justify-content: flex-end;
//   padding: 5px;
//   border: .1px solid black;
//   height: 10%;
//   background-color: yellowgreen;
// }

// .card-menu-day-date {
//   position: absolute;
//   border: .1px solid gray;
//   top: 5px;
//   padding: 2px;

// }

// .card-menu-day-users {
//   display: flex;
//   justify-content: space-around;
//   p {
//     padding: 0px;
//   }
// }

// .card-menu-day-body {
//   display: flex;
//   flex-direction: row;
//   justify-content: space-around;
//   height: 100%;
//   width: 100%;
//   background-color: whitesmoke;
// }

// .card-menu-day-user-section {
//   display: flex;
//   flex-direction: column;
//   justify-content: space-around;
//   width: 30%;
// }

// .card-menu-day-meal {
//   height: 30%;
//   border: .1px solid gray;
// }
