.filters-section {
  display: inline-flex;
  flex-flow: column nowrap;
  flex: 1 1 auto;
  justify-content: flex-start;
  gap: var(--space-s);
}


.filtered {
  display: inline-flex;
  flex-flow: column nowrap;
  flex: 1 1 auto;
  justify-content: flex-start;
  gap: var(--space-xs);

  &--vert-ctr{
    justify-content: center;
  }

  &__title {
    display: inline-flex;
    flex-flow: row;
    justify-content: flex-start;
    gap: var(--space-m);

    &-light {
      p, h3, h4, h5, h6 {
        color: var(--color-text-light);
        margin: 0;
      }
    }

    &-dark {
      p, h3, h4, h5, h6 {
        color: var(--color-txt-dark);
        margin: 0;
      }
    }
  }

  &__list {
    display: flex;
    flex: 0 0 auto;
    flex-flow: row wrap;
    justify-content: flex-start;
    gap: var(--space-xs);
    list-style: none;
    margin: 0;
    padding: 0;

    &--nowrap {
      flex-wrap: nowrap;
    }

    &--hrzn-r{
      justify-content: flex-end;
    }
  }
}
