#modal {
  max-width: 50vw;
  width: max-content;
  z-index: 1000;
  top: 15vh;
  position: absolute;
  left: 0;
  right: 0;
  margin: 0 auto;


  word-break: break-word;
  // border: var(--color-pearl) solid var(--space-xxxs);
  border-radius: var(--border-radius);
  box-shadow: var(--shadow-large-light);
  background: var(--color-onyx);
  // background: ;
}

#modal-overlay {
  z-index: 990;

  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  backdrop-filter: blur(2px);
}


.card-modal {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  margin: var(--space-l);

  background: var(--color-pearl);
  border: 1px solid var(--color-white);

  &__header{
    padding: var(--space-s) var(--space-l);
  }

  &__title {
    color: var(--color-txt-dark);
  }

  &__body{
    // padding: var(--space-s) var(--space-l);
    max-height: 60vh;
    overflow: hidden;
    overflow-y: auto;

    display: flex;
    flex-flow: column nowrap;
    gap: var(--space-s);
  }

  &--mealtype {
    grid-area: 1 / 1 / 1 / -1;

    border-radius: var(--border-radius);
    box-shadow: var(--shadow-large-light);
    // background: var(--color-onyx);
  }

  &--glist {
    grid-area: glist;

    border-radius: var(--border-radius);
    box-shadow: var(--shadow-large-light);
    // background: var(--color-onyx);
  }

  &--ingredients {
    grid-area: ingredients;

    border-radius: var(--border-radius);
    box-shadow: var(--shadow-large-light);
    // background: var(--color-onyx);
  }
}
