.navbar {
  position: sticky;
  top: 0;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  margin-bottom: 0;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  background-color: var(--color-onyx);
  padding: 0 var(--space-m);
  z-index: 99;

  @include media(tabletAndUp) {
    padding-right: 0;
    padding-left: 0;
    max-width: 90rem;
  }

  &__nav {
    display: flex;
    flex-direction: row;
    justify-content:space-between;
    width: 100%;
    list-style: none;
    margin: 0;
    padding: 0 var(--space-xs);
  }

  &__brand {
    display: flex;
    flex-grow: 0;
    align-items: center;
    padding: var(--space-m) var(--space-m);
    color: var(--color-pearl);
    text-align: center;
    font-weight: bold;
    font-size: var(--font-size-xxxl);
  }

  &__item {
    flex-grow: 1;
  }

  &__link {
    display: block;
    padding: var(--space-m) var(--space-xxl) ;
    color: var(--color-pearl);
    text-align: center;
    font-weight: bold;
    font-size: var(--font-size-xl);
  }

  &__dropdown {
    display: flex;
    flex-grow: 0;
    align-items: center;
    padding: var(--space-m) var(--space-m) ;
    color: var(--color-pearl);
    font-weight: bold;
    font-size: var(--font-size-xxxl);
  }

  &__border{
    background-color: var(--color-onyx);
    border: var(--border-navbar);
    border-bottom: var(--border-navbar-botton);
    border-top-left-radius: var(--border-radius);
    border-top-right-radius: var(--border-radius);
  }



  &__border-invert {
    background-color: var(--color-pearl);
    border: var(--border-navbar);
    border-bottom: var(--border-navbar);
    border-top-left-radius: var(--border-radius);
    border-top-right-radius: var(--border-radius);
  }

  &__link-invert {
    display: block;
    padding: var(--space-m) var(--space-xxl) ;
    color: var(--color-onyx);
    text-align: center;
    font-weight: bold;
    font-size: var(--font-size-xl);
  }
}
