// .navbar-lewagon {
//   justify-content: space-between;
//   background: hsl(45, 36%, 96%);
// }

// .navbar-lewagon .navbar-collapse {
//   flex-grow: 0;
// }

// .navbar-lewagon .navbar-brand img {
//   width: 40px;
// }


.navbar {
  display: flex;
  align-items: center;
  box-shadow: var(--shadow-large);
  padding: var(--space-xs) var(--space-m);
  margin-bottom: var(--space-xxs);
  background-color: var(--color-onyx);

  &__brand {
    font-weight: bold;
    font-size: var(--font-size-xl);
    color: var(--color-pearl);
  }

  &__name {
    font-weight: bold;
    margin-left: auto;
    margin-right: var(--space-xl);
    color: var(--color-pearl);
    border: solid 2px var(--color-primary-bg);
  }

  &__right {
    margin-left: auto;
    color: var(--color-pearl);
  }

  &__btn {
    color: var(--color-pearl);
  }


}
