.navbar {
  grid-area: navbar;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  width: 100%;
  background-color: var(--color-bg-dark);
  margin: 0;
  padding: var(--space-xs) var(--space-s) 0;

  @include media(tabletAndUp) {
    &__nav {
      display: flex;
      flex-direction: row;
      justify-content:space-between;
      width: 100%;
      list-style: none;
      padding: 0;
      margin: 0;
      // gap: 2px;
    }

    &__brand, &__dropdown {
      display: flex;
      flex-grow: 0;
      align-items: center;
      padding: var(--space-m) var(--space-m);
      color: var(--color-txt-dark);
      text-align: center;
      font-weight: bold;
      font-size: var(--font-size-xxxl);
    }

    &__brand {
      border-left: var(--border-navbar-light);
      &:hover {
        border-left: var(--border-navbar-light);
      }
    }

    &__dropdown {
      // border-right: var(--border-navbar-light);
      &:hover {
        // border-right: var(--border-navbar-light);
      }
    }



    &__item {
      display: inline-flex;
      flex-grow: 1;
      justify-content: center;
      align-items: center;
      position: relative;
    }

    .nav-btn {
      box-sizing: border-box;

      a {
        z-index: 1;
        display: block;
        padding: 0 0;
        text-align: center;
        font-weight: bold;
        color: var(--color-txt-dark);
        font-size: var(--font-size-xxxl);
      }

      a::after {
        position: absolute;
        content: '';
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
      }

      &:hover {
        a, i {
          color: var(--color-text-light);
        }
        color: var(--color-text-light);
        background-color: var(--color-bg-dark);
        border: var(--border-navbar-light);
        border-bottom: none;

        border-top-left-radius: var(--border-radius);
        border-top-right-radius: var(--border-radius);
      }
    }

    &__border {
      box-sizing: border-box;

      background-color: var(--color-bg-light);
      border-right: var(--border-transparent);
      border-left: var(--border-transparent);

      border-top-left-radius: var(--border-radius);
      border-top-right-radius: var(--border-radius);
    }


    .nav-active {
      a, i {
        color: var(--color-text-light);
      }
      color: var(--color-text-light);
      background-color: var(--color-bg-dark);
      border-top: var(--border-navbar-light);
      border-right: var(--border-shaded);
      border-left: var(--border-shaded);
      // border-right: var(--border-transparent);
      // border-left: var(--border-transparent);


      border-top-left-radius: var(--border-radius);
      border-top-right-radius: var(--border-radius);
    }

    &__brand.nav-active {
      border-left: var(--border-navbar-light);
    }

    &__dropdown.nav-active {
      border-right: var(--border-navbar-light);
    }
  }
}
