.navbar {
  grid-area: navbar;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  margin-bottom: 0;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  background-color: var(--color-onyx);
  padding: 0;

  @include media(tabletAndUp) {
    &__nav {
      display: flex;
      flex-direction: row;
      justify-content:space-between;
      width: 100%;
      list-style: none;
      margin: 0;
      padding: var(--space-xs) var(--space-xs) 0;
    }

    &__brand, &__dropdown {
      display: flex;
      flex-grow: 0;
      align-items: center;
      padding: var(--space-m) var(--space-m);
      color: var(--color-onyx);
      text-align: center;
      font-weight: bold;
      font-size: var(--font-size-xxxl);
    }

    &__item {
      display: inline-flex;
      flex-grow: 1;
      justify-content: center;
      align-items: center;
      position: relative;
    }

    .nav-btn {
      a, i {
        z-index: 1;
        display: block;
        padding: 0 0;
        text-align: center;
        font-weight: bold;
        color: var(--color-onyx);
        font-size: var(--font-size-xxxl);
      }

      a::after {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        content: ' ';
      }

      &:hover {
        a, i {
          color: var(--color-pearl);
        }
        color: var(--color-pearl);
        background-color: var(--color-onyx);
        border: var(--border-frame);
        border-bottom: var(--border-navbar-botton);
        border-top-left-radius: var(--border-radius);
        border-top-right-radius: var(--border-radius);
      }
    }

    &__border{
      background-color: var(--color-pearl);
      border: var(--border-navbar);
      border-bottom: var(--border-navbar-botton);
      border-top-left-radius: var(--border-radius);
      border-top-right-radius: var(--border-radius);
    }

    .nav-active {
      a, i {
        color: var(--color-pearl);
      }
      color: var(--color-pearl);
      background-color: var(--color-onyx);
      border: var(--border-frame);
      border-bottom: var(--border-navbar-botom);
      border-top-left-radius: var(--border-radius);
      border-top-right-radius: var(--border-radius);
    }
  }
}
