.search-section {
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-end;
  // align-items: stretch;
  width: 100%;

  &__filters {
    display: flex;
    flex: 1 1 0;
    flex-flow: column nowrap;
    justify-content: flex-start;

    .filters {
      display: inline-flex;
      flex-flow: column nowrap;
      flex: 1 1 auto;
      justify-content: flex-start;
      gap: var(--space-s);
      padding: 0 var(--font-size-xs) var(--space-s) ;

        // UL
      .details {
        display: flex;
        flex: 0 0 0;
        flex-flow: row wrap;
        justify-content: flex-start;
        list-style: none;
        gap: var(--space-xs);
        margin: 0;
        padding: 0;
      }
    }



  }

  &__body {
    display: flex;
    flex: 2 1 0;
    flex-flow: column nowrap;
    justify-content: flex-end;

    .filters {
      display: inline-flex;
      flex-flow: column nowrap;
      flex: 1 1 auto;
      justify-content: flex-start;
      gap: var(--space-s);
      padding: 0 var(--font-size-xs) var(--space-s) ;

        // UL
      .details {
        display: flex;
        flex: 0 0 0;
        flex-flow: row wrap;
        justify-content: flex-start;
        list-style: none;
        gap: var(--space-xs);
        margin: 0;
        padding: 0;
      }
    }

    .search-bar {
      display: flex;
      flex: 0 0 0;
      flex-flow: row nowrap;
      justify-content: center;

      .filters {
        display: flex;
        flex: 1 1 auto;
        flex-flow: column nowrap;
        justify-content: flex-start;
        gap: var(--space-xs);

        .type {
          display: inline-flex;
          flex: 2 1 auto;
          flex-flow: row nowrap;
          gap: var(--space-m);
        }

        .type p {
          margin-bottom: 0;
          padding-top: 6px;
          font-size: var(--font-size-m);
          text-decoration: underline;
          font-weight: bold;
        }
      }

      .bar {
        display: flex;
        flex: 1 1 auto;
        flex-flow: row wrap;
        justify-content: flex-end;
        padding: var(--space-s) var(--font-size-xs) 0;

        .option {
          flex: 1 1 auto;
          display: inline-flex;
          align-items: center;
        }

        .input {
          flex: 2 1 auto;
        }
      }
    }
  }

  &__courses {
    display: flex;
    flex: 1.25 1 0;
    flex-flow: column;
    justify-content: space-between;
    padding: 0;
    font-size: var(--font-size-xs);

    .section {
      display: inline-flex;
      flex-flow: row;
      justify-content: flex-start;

      .title {
        display: block;
        flex: 1 1 0;
        padding-top: 10px;
        font-size: var(--font-size-xs);
      }

      .courses {
        display: flex;
        flex: 9 1 0;
        flex-flow: column;
        justify-content: space-between;
        padding: 0;
        font-size: var(--font-size-xs);
      }

      .footer {
        display: block;
      }
    }
  }
}
