.search-section {
  grid-area: search-section;
  display: grid;
  grid-template-columns: 1fr 3fr;
  grid-template-rows: auto;
  grid-template-areas: "title bar";

  padding: var(--space-s) var(--space-xs);

  &__title {
    grid-area: title;
    display: flex;
    flex: 2 1 0;
    flex-flow: column nowrap;
    justify-content: center;
    gap: var(--space-xxs);

    .title {
      justify-content: flex-start;

      h2 {
        padding-left: var(--space-s);
        margin: 0;
        color: var(--color-pearl);
      }
    }

    .filters {
      // grid-area: title;
      display: flex;
      flex-flow: column nowrap;
      flex: 1 1 auto;
      justify-content: center;
      // padding: 0 var(--font-size-xs) var(--space-s) ;

        // UL
      .details {
        display: flex;
        flex: 0 0 0;
        flex-flow: row wrap;
        justify-content: flex-start;
        list-style: none;
        // gap: var(--space-xs);
        // gap: var(--space-xs);
        margin: 0;
        padding: 0;
      }
    }
  }

  &__bar {
    grid-area: bar;
    display: flex;
    flex: 2 1 0;
    flex-flow: column nowrap;
    justify-content: center;

    .search-bar {
      display: grid;
      gap: var(--space-s);
      grid-template-columns: 1fr 2fr 1fr;
      grid-template-rows: 1fr;
       grid-template-areas: "filters search-bar footer";

      .filters {
        grid-area: filters;
        display: flex;
        flex-flow: column nowrap;
        // flex: 1 1 auto;
        justify-content: center;
        // gap: var(--space-s);
        // padding: 0 var(--font-size-xs) var(--space-s) ;

          // UL
        .details {
          display: flex;
          flex: 0 0 0;
          flex-flow: row nowrap;
          justify-content: flex-end;
          list-style: none;
          // gap: var(--space-xs);
          // margin: 0;
          // padding: 0;
        }
      }

      .bar {
        grid-area: search-bar;
        display: flex;
        flex: 1 1 auto;
        flex-flow: row nowrap;
        justify-content: center;
        gap: var(--space-xs);

        .input {
          flex: 1 1 20%;
          justify-content: flex-start;
          border: var(--borader-dark);
          border-radius: var(--border-radius-pill);
          padding: var(--space-xs);
        }
      }

      .footer {
        grid-area: footer;
      }
    }
  }

  &__courses {
    display: flex;
    flex: 1.25 1 0;
    flex-flow: column;
    justify-content: space-between;
    padding: 0;
    font-size: var(--font-size-xs);

    .section {
      display: inline-flex;
      flex-flow: row;
      justify-content: flex-start;

      .title {
        display: block;
        flex: 1 1 0;
        padding-top: 10px;
        font-size: var(--font-size-xs);
      }

      .courses {
        display: flex;
        flex: 9 1 0;
        flex-flow: column;
        justify-content: space-between;
        padding: 0;
        font-size: var(--font-size-xs);
      }

      .footer {
        display: block;
      }
    }
  }
}
