.sidebar {
  grid-area: sidebar;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto 5fr;
  grid-template-areas:
    "filters"
    "planner";

  // display: flex;
  // flex-flow: column nowrap;
  // justify-content: flex-start;

  padding: 0 var(--font-size-xs);

  &__planner {
    grid-area: planner;
    display: flex;
    flex: 1 1 1;
    flex-flow: column nowrap;
    justify-content: flex-start;
    padding: 0;
    font-size: var(--font-size-xs);

    .title * {
      color: var(--color-pearl);
    }

    .course-selection {
      padding-bottom: var(--space-s);
    }

    .footer {
      align-self: center;
    }

  }

  &__courses {
  display: flex;
  flex: 1 1 1;
  flex-flow: column nowrap;
  justify-content: flex-start;
  padding: 0;
  font-size: var(--font-size-xs);

  .section {
    display: inline-flex;
    flex-flow: column;
    justify-content: flex-start;

    .course-title {
      display: block;
      flex: 1 1 0;
      padding-top: var(--font-size-xs);
      h4 {
        color: var(--color-pearl);
      }
    }

    .courses {
      display: flex;
      flex: 9 1 0;
      flex-flow: column;
      justify-content: space-between;
      padding: 0;
      font-size: var(--font-size-xs);
    }
  }
}

  &__filters {
    grid-area: filters;
    display: flex;
    // flex: 1 1 ;
    flex-flow: column nowrap;
    justify-content: flex-start;
    padding-bottom: var(--space-xs);

    .filters {
      display: inline-flex;
      flex-flow: column nowrap;
      flex: 1 1 auto;
      justify-content: flex-start;
      gap: var(--space-xs);


        // UL
      .details {
        display: flex;
        flex: 0 0 0;
        flex-flow: row wrap;
        justify-content: flex-start;
        list-style: none;
        gap: var(--space-xs);
        margin: 0;
        padding: 0;
      }
    }



  }


}
