.sidebar {
  grid-area: sidebar;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto;
  grid-template-areas:
    "filters"
    "planner"
    "courses";
  align-content: start;
  gap: var(--space-m);
  padding: var(--font-size-xs);
  overflow: hidden;

  &__filters {
    grid-area: filters;
  }


  &__planner {
    grid-area: planner;
    display: flex;
    flex: 1 1 1;
    flex-flow: column nowrap;
    justify-content: flex-start;
    padding: 0;
    font-size: var(--font-size-xs);
    gap: var(--space-xs);

    .footer {
      align-self: center;
    }
  }
// section-cards-courses
  &__courses {
    grid-area: courses;
    display: flex;

    flex-flow: column nowrap;
    justify-content: flex-start;
    padding-bottom: var(--space-s);
    background-color: var(--color-bg-light);
    border-radius: var(--border-radius);

    overflow: hidden;
  }

  &__courses-header {
    border-top-left-radius: inherit;
    border-top-right-radius: inherit;
    padding: 0 var(--space-m);
  }

  &__courses-content {
    padding: var(--space-xs);
    overflow: hidden;
    overflow-y: scroll;
  }

}
