<div>
  <div class="recipe-card">
    <div class="card-header">
      <div class="text-center">
        <p>image tag</p>
      </div>
    </div>
    <div class="card-body">
      <ul><small>
        <li>Name: <%= product.description %></li>
        <li>Brand: <%= product.brand %></li>
        <li>Servings: </li>
        <li>Unit ? : </li></small>
      </ul>
    </div>
    <div class="card-footer">

    </div>
  </div>
</div>
