<%= turbo_frame_tag "fetch-recipes#{@next_page[:total]}" do %>
  <div id="recipe_cards" class="card-rolodex">
    <%= render @recipes, locals: { title: @title }  %>
  </div>
  <%= render partial: "/recipes/load_more", locals: { title: @title } %>
  <div id="gList"></div>
<% end %>
