<%= turbo_stream.replace "recipe_cards" do %>
  <%= render @recipes, locals: { title: @title } %>
  <div id="recipe_cards" data-target="course-type-radio-selector.assign"></div>
<% end %>

<%= turbo_stream.replace "load_more" do %>
  <%= render partial: "/recipes/load_more", locals: { title: @title } %>
<% end %>
